.banner {
  height: 800px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
      rgb(252, 241, 215, 0.5),
      rgb(252, 241, 215, 0.8)
    ),
    url("https://i.gyazo.com/thumb/1000/a2beb1959f6565645f6e43f23d2f4ef7-jpg");

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 1%;
}

.search {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search input {
  width: 400px;
  border: 3px solid #fff;
  padding: 15px 30px;
  border-radius: 50px;
  outline: none;
  font-size: 18px;
  color: #282b28;
}

.search-btn {
  position: absolute;
  top: 0.8px;
  right: 0.5px;
  cursor: pointer;
  color: #fc913a;
  background: #fff;
  border: 0px;
  width: 120px;
  height: 55px;
  border-left: 2px solid #fc913a;
  border-radius: 0 50px 50px 0;
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
}

#search-btn:hover {
  color: gray;
}

.featured {
  background-color: #d36135;
}

.featured h1 {
  color: white;
}

#results {
  max-width: 500px;
  width: 100%;
  display: none;
  margin-top: 428px;
}

.result-display {
  display: flex;
  border: 1px solid grey;
  background-color: #fff;
  height: auto;
  padding-top: 10px;
  transition: 0.2s;
}

.result-display:hover {
  background-color: rgba(192, 192, 192, 1);
}

.result-poster {
  height: 100px;
  width: 100px;
}

.result-title {
  color: black;
  font-size: 0.8em;
}

.result-title a {
  text-decoration: none;
}

@media (max-width: 500px) {
  .search input {
    width: 350px;
  }
  .search-btn {
    width: 110px;
  }
}

@media (max-width: 400px) {
  .search input {
    width: 300px;
  }
  .search-btn {
    width: 100px;
  }
  .result-display {
    height: auto;
    padding: 0;
    padding-top: 10px;
    transition: 0.2s;
  }
  .result-title {
    color: black;
    font-size: 0.7em;
  }
}
